@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

html { /* using 'html' due to unknown reasons, you may correct me after */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: hsl(218, 28%, 13%);
    color: white;
}